<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mattlab.gym.fityes_v2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".FirstStep"
            android:label="@string/firststep" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".SecondStep" />
        <activity android:name=".ThirdStep" />
        <activity
            android:name=".Initialize"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Registration" />
        <activity android:name=".Reg_Second" />
        <activity
            android:name=".BMICalculator"
            android:label="@string/bmi_label"></activity>
        <activity
            android:name=".PulseCalculator"
            android:label="@string/pulse_label"></activity>
    </application>

</manifest>